@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    color: white;
}

main {
    width: 410px;
    height: 390px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 25px;
}

.star-wrapper {
    background-color: hsl(213, 17%, 21%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-wrapper img.star-img {
    width: 20px;
    height: auto;
}

main h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}

main p.desc {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 22px;
    margin-right: 10px;
}

.rate-wrapper {
    display: flex;
    justify-content: space-between;
}

.rate-wrapper input[type="radio"] {
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: hsl(213, 17%, 21%);
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
}

.rate-wrapper input[type="radio"]:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.rate-wrapper input[type="radio"]:checked {
    background-color: hsl(217, 12%, 63%);
}

.rate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.rate label {
    position: absolute;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: white;
    cursor: pointer;
}